.esPared {
  background-color: black;
}

.posicionInicial{
  background-image: url('https://avatarbox.net/avatars/img24/robot_walking_avatar_picture_21288.gif');
  object-fit: scale-down;
  object-position: 10px;
}

.posicionMeta{
 background-image: url('https://lh3.googleusercontent.com/proxy/agYsaI61kHeg88ECRsnoVPTqjTX6NRO-gQGEfICk_sp5ZXsRm7a_bYvY3mSYUA9GAEF9WV6zFTz7TJ61uEhtju-jlBap-ydAFQGxISsI1L3rvKYv8D84Dl7lWBIKXw');
}