<div class="container mt-4 w-100 h-100">

  <form #form="ngForm" class="mb-4">
    <label for="robot">Robot</label>
    <input [(ngModel)]="posicionInicial" name="robot" class="form-control" id="robot" type="number"
      placeholder="Posición del robot">
    <label for="meta">Meta</label>
    <input [(ngModel)]="posicionMeta" name="meta" class="form-control" id="meta" type="number"
      placeholder="Posición de la meta">

    <div class="row mt-4">
      <div style="border: 1px solid black;" class="col text-center font-weight-bold">Timing: Algoritmos</div>
    </div>
    <div class="row">
      <div style="border: 1px solid black;" class="col text-center">{{resultTime[0]}}</div>
      <div style="border: 1px solid black;" class="col text-center">{{resultTime[1]}}</div>
      <div style="border: 1px solid black;" class="col text-center">{{resultTime[2]}}</div>
      <div style="border: 1px solid black;" class="col text-center">{{resultTime[3]}}</div>
    </div>
    <div class="row mt-3">
      <div class="col text-center"><button type="button" (click)="amplitud()" class=" btn
          btn-primary">Amplitud</button>
      </div>
      <div class="col text-center"><button type="button" (click)="Profundidad()"
          class="btn btn-success">Profundidad</button></div>
      <div class="col text-center"><button (click)="Aasterisco(this.posicionMeta)" type="button"
          class="btn btn-info">A*</button></div>
      <div class="col text-center"><button (click)="primeroMejor()" type="button" class="btn btn-dark">Primero el
          mejor</button></div>
    </div>
    <div class="text-center">
      <button (click)="todos()" type="button" class="btn btn-dark">Todos</button>
    </div>
  </form>

  <div *ngFor="let item of tablero; index as i" style="width: 110px;height: 100px;"
    [ngClass]="{esPared: item.isPared, posicionInicial: item.indice == posicionInicial, posicionMeta: item.indice == posicionMeta}"
    class="d-inline-block border border-dark" [id]="item.indice">

  </div>
</div>